.mainDiv:hover .imgDiv{
    transform: translateY(calc(-83%)) !important;

}



.myBtn{
  position: relative;


  border-radius: 50px;
  border: none;
  outline: none;
 
  color: #fff;

  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
}
.myBtn:first-child:hover{
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
.myBtn:last-child:hover{
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}
.myBtn:first-child:before,
.myBtn:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
.myBtn:first-child:hover:before,
.myBtn:last-child:hover:before{
  opacity: 1;
  z-index: -1;
}
.myBtn:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
.tech{
    display: none;
   
}
.mainDiv:hover .info{
display: none;
}

.mainDiv:hover .tech{
display: block;
transition:  2s;
}